@import '../../index.scss';

.navbar {
    background: $mainBlack;
    padding: 0.5rem 1rem;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;    
}

img {
    width: 70px;
}

.nav-links {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    text-align: center;
}

.nav-link {
    color: $mainGrey;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 0.5s linear;

    &:hover {
        color: $mainGreen;
    }
}

.active {
    color: $mainGreen;
}